.Forget {
    text-align: center;
}

.Forget-div{
    background-image: url("../img/forget.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Forget-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Forget-link {
    color: #61dafb;
}

.Forget-headline {
    color: black;
    font-size: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
}