.jtSchool {
    text-align: center;
}

.jtSchool-topBrand{
    width: 100%;
    height: 2%;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.jtSchool-whiteFont{
    color: white;
}


.jtSchool-content{
    width: 100%;
    top: 2%;
    position: absolute;
    height: 98%;
    background-image: url("../img/jtdx.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.jtSchool-sub{
    width: 100%;
    top: 48.7%;
    position: absolute;
    height: 9.5%;
}

.jtSchool-time{
    color: white;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 50%;
}