.App {
  text-align: center;
}

.App-div{
  background-image: url("../public/img/Index.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-headline {
  color: black;
  font-size: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
}

.App-jump {
  position: absolute;
  top: 10%;
  right: 10%;
}

.App-form {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 25%;
}

.App-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width:100%;
  bottom: 0;
}

.App-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
