.Main {
    text-align: center;
}

.Main-div{
    background-image: url("../public/img/main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Main-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Main-link {
    color: #61dafb;
}

.Main-headline {
    color: black;
    font-size: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3%;
}

.App-jump {
    position: absolute;
    top: 3%;
    right: 10%;
}

.App-info{
    color: darkcyan;
    position: absolute;
    top: 3%;
    left: 5%;
}