.Register {
    text-align: center;
}

.Register-div{
    background-image: url("../public/img/register.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Register-forget{
    background-image: url("../public/img/forget.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Register-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    font-size: 15px;
    font-weight: bold;
}

.Register-link {
    color: #61dafb;
}

.Register-headline {
    color: black;
    font-size: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
}